html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min min-height: 100vh;
}

header {
    background-color: bisque;
}

main {
    flex-grow: 1;
    background-color: indianred;
}

footer{
    background-color: bisque;
}