html, body {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min min-height: 100vh;
}

header {
    min-height: 100vh;
    background-image: url("images/starry.jpg");
    background-size: 160%;
}

main {
    flex-grow: 1;
    background-image: url("images/flowers.jpg");
    min-height: 100vh;
    background-size: cover;
    color: antiquewhite;
}

footer{
    background-color: bisque;
    min-height: 30vh;
}